.Log-container img {
    width: 20vw;
}

button img {
    width: 40px; 


}

button {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    background: 'none';
    border: 'none';
    cursor: 'pointer';
}